body {
  margin-top: 50px;
  margin-left: 50px;
}

div {
  margin-top: 10px;
  padding: 50px;
  background-color: khaki;
  color: darkolivegreen;
}

a {
  padding: 10px;
  margin-right: 4px;
  background-color: darkolivegreen;
  color: khaki;
  text-decoration: none;
}
a:link, a:visited, a:hover {
  color: khaki;
}
a.selected-item {
  color: darkolivegreen;
  background-color: khaki;
}